@font-face {
  font-family: "Exotica";
  src: url("../fonts/Exotica.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main__container {
  background-image: url(../../public/Main_image.svg); /* Устанавливаем изображение фоном */
  display: flex;
  flex-direction: column;
  font-family: Exotica;
  color: #a3a1a1;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 283px;
  padding-bottom: 40%;
  max-width: 100%;
  z-index: 1;
}

.main__text {
  margin: 0;
  margin-top: 183px;
  max-width: 576px;
  font-family: Exotica;
  margin-left: 35px;
  font-size: 200px;
  font-weight: 400;
  line-height: 144px;
  letter-spacing: 0.05em;
  text-align: left;
  z-index: 2; /* Текст находится выше фона */
  position: relative;
}

.main__date {
  position: relative;
  margin-top: 86px;
  font-family: Exotica;
  margin-left: 35px;
  font-size: 64px;
  font-weight: 400;
  line-height: 46.08px;
  letter-spacing: 0.05em;
  text-align: left;
  z-index: 2;
}

.main__info {
  margin-top: 58.58px; /* Отступ, чтобы блок находился под контейнером */
  color: #a3a0a0;
  margin-left: 60px;
  gap: 59px;
  max-width: 100%;
}

.main__info_text {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 43.2px;
  letter-spacing: 0.05em;
  text-align: left;
  max-width: 940px;
}

.main__info_text_h2 {
  font-family: Playfair Display SC;
  font-size: 40px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.113em;
  max-width: 1071px;
}

.main__info_table {
  max-width: 1160px;
  font-family: Playfair Display SC;
  font-size: 40px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.05em;
  border: 1px solid #d9d9d9; /* Бордер всей таблицы */
  border-collapse: collapse;
  margin-top: 90px;
}

.main__info_table th,
.main__info_table td {
  border: 1px solid #d9d9d9; /* Бордер для каждой ячейки */
  padding: 8px;
  text-align: center;
}

.table-container {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
}

.table {
  margin: 0; /* Убираем отступы */
  height: 100px; /* Фиксированная высота */
  width: 200px; /* Ширина */
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  font-family: Playfair Display SC;
  font-size: 24px;
  font-weight: 400;
  line-height: 19.44px;
  letter-spacing: 0.05em;
  text-align: center;
}

.table:nth-child(2n) {
  margin-bottom: 10px; /* Добавляем отступ между нечётными элементами */
}



@media screen and (max-width: 768px) {
  .main__info {
    margin: 0 auto;
  }

  .main__text {
    font-size: 100px;
    margin-top: 45px;
    line-height: 113px;
    margin-left: 10px;
  }

  .main__container {
    background-repeat: no-repeat;
    background-position: 0px 163px;
    padding-bottom: 25%;
  }

  .main__date {
    font-size: 45px;
    margin-left: 10px;
    margin-top: 40px;
  }

  .main__info_text {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    line-height: 38px;
    max-width: 80%;
    text-align: center;
  }

  .main__info_text_h2 {
    font-size: 26px;
    line-height: 24.4px;
    letter-spacing: 0.043em;
    max-width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .main__info_table {
    max-width: 720px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 321px) {
  .main__info {
    margin: 0 auto;
  }

  .main__text {
    font-size: 100px;
    margin-top: 44px;
    max-width: 268px;
    max-height: 289px;
    line-height: 72px;
    margin-left: 36px;
  }

  .main__container {
    background-repeat: no-repeat;
    background-position: 0px 100px;
    padding: 0;
  }

  .main__date {
    font-size: 32px;
    margin: 0;
    margin-left: 39px;
    margin-top: 123px;
  }

  .main__info_text {
    margin: 0 auto;
    font-size: 24px;
    margin-top: 30px;
    text-align: left;
  }

  .main__info_text_h2 {
    margin: 0 auto;
    margin-top: 18px;
    max-width: 242px;
    max-height: 48px;
    font-size: 20px;
    text-align: left;
  }
}
